on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 4 * * *"

name: dev-check

jobs:
  check-package:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.dev-package }}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest, r: 'release', dev-package: 'mlr-org/bbotk'}

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rcmdcheck
            any::remotes
          needs: check

      - name: Install Dev Versions
        run: |
          remotes::install_github('${{ matrix.config.dev-package }}')
        shell: Rscript {0}

      - uses: r-lib/actions/check-r-package@v2
